.container {
  /* padding: 22px 308px; */
  width: 86%;
  margin: 9px 103px
  
}

.dropdown-container {
  margin: 52px 46px;
}

.dropdown {
  margin-bottom: 20px;
}
.dropdown .dropdown-header {
  background-color: #ff6060;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
.dropdown .dropdown-header .rotate2 {
  -webkit-animation: rotation2 0.5s;
  animation: rotation2 0.5s;
}
.dropdown .dropdown-header .rotate1 {
  -webkit-animation: rotation1 0.5s;
  animation: rotation1 0.5s;
}

.dropdown .dropdown-body {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: #e5e5e5;
  padding: 8px;
}

@-webkit-keyframes rotation1 {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotation1 {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotation2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/***** Silde Img a propos */

.slideImg > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  box-shadow: 10px 5px 5px grey;
  width: 85%;
}



@media screen and (max-width: 780px) {
  .slideImg > img {
    display: block;
    border-radius: 13px;
    box-shadow: 10px 5px 5px grey;
    width: 85%;
    height: 192px;
    object-fit: cover;
    margin: 0 71px;

  }
  .container {
    position: relative;
    margin: 0px 0 0 64px;
  }
}

@media screen and (max-width: 480px) {
  .slideImg > img {
    display: block;
    border-radius: 13px;
    box-shadow: 10px 5px 5px grey;
    width: 124%;
    height: 192px;
    object-fit: cover;
    margin: 0 59px;
  }
  .container {
    position: relative;
    margin: 0px 0 0 64px;
    width: 122%;
  }
}




@media screen and (max-width: 375px) {
  .slideImg > img {
    display: block;
    border-radius: 13px;
    box-shadow: 10px 5px 5px grey;
    width: 135%;
    height: 192px;
    object-fit: cover;
    margin: 42px 62px;
  }
  .container {
    padding: 0px !important;
    position: relative;
    left: 101px;
    width: 130%;
    margin: 0px 0 0 -31px;
  }
}
