.dropdown-container {
  position: relative;
  left: 19%;
}



.dropdown {
    margin-bottom: 20px;
    margin: 40px;
  }
  .dropdown .dropdown-header {
    width: 50%;
    background-color: #FF6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
  }
  .dropdown .dropdown-header .rotate2 {
    -webkit-animation: rotation2 0.5s;
            animation: rotation2 0.5s;
  }
  .dropdown .dropdown-header .rotate1 {
    -webkit-animation: rotation1 0.5s;
            animation: rotation1 0.5s;
  }
  .dropdown .dropdown-body {
    width: 50.5%;
    border-radius: 5px;
    background-color: #E5E5E5;
    padding: 8px;
  }



@-webkit-keyframes rotation1 {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes rotation1 {
  from {
    transform: rotate(-180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes rotation2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}


/***** Silde Img a propos */


.slideImg>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  box-shadow: 10px 5px 5px grey;
}