.footer_bg {
  background-color: black;
  height: 200px;
  width: 100%;
}
.footer_info > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 0 0;
}

.copyrt {
  color: white;
  text-align: center;
}

@media screen and (max-width: 780px) {
  .footer_bg {
    background-color: black;
    height: 200px;
    width: 100%;
    margin: 30px 0 0 0;
  }
}
/* 
@media screen and (max-width: 480px) {
  .footer_bg {
    background-color: black;
    height: 200px;
    width: 152%;
    margin: 30px 0 0 0;
  }
}


@media screen and (max-width: 375px) {
  .footer_bg {
    background-color: black;
    height: 200px;
    width: 165%;
    margin: 30px 0 0 0;
  }
  
} */
