.div-lightbox {
  position: relative;
  font-size: 100px;
  color: white;
}
.div-lightbox img {
  width: 95%;
  height: 415px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0px 33px;
}
.div-lightbox .fa-angle-right {
  top: 170px;
  right: 160px;
  margin-left: 10px;
  position: absolute;
}
.div-lightbox .fa-angle-left {
  top: 170px;
  left: 160px;
  margin-left: 10px;
  position: absolute;
}
.div-lightbox p {
  position: absolute;
  bottom: 12px;
  left: 50%;
  font-size: 25px;
}

@media screen and (max-width: 780px) {
  .div-lightbox img {
    width: 100%;;
    height: 415px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0px 0px;
  }
  .div-lightbox .fa-angle-left {
    left: 42px;
  }
  .div-lightbox .fa-angle-right {
    right: 7%;
  }
  .div-lightbox p {
    left: 45%;
  }
  .div-lightbox {
    margin: 0 66px;
  }
  .div-title-logements{
    margin: 0 -46px;
  }
}

/* @media screen and (max-width: 480px) {
  .div-lightbox img {
    width: 170%;;
  }

  .div-lightbox .fa-angle-right {
    right: -209px;
  }
  .div-lightbox p {
    left: 84%;
  }
  .div-title-logements {
    margin: 0 -16px;
}
}

@media screen and (max-width: 375px) {
  .div-lightbox img {
    width: 492px;
    object-fit: cover;
    border-radius: 10px;

  }
  .div-lightbox .fa-angle-left {
    left: 42px;
  }
  .div-lightbox .fa-angle-right {
    right: -225px;
  }
  .div-lightbox p {
    left: 101%;
  }
} */
