.container-logements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 186px;
}
.p-title-logements {
  color: #ff6060;
  font-size: 36px;
}

.p-location {
  color: #ff6060;
  font-size: 18px;
}
.div-tag-logement {
  display: flex;
}
.div-tag {
  background-color: #ff6060;
  margin: 10px 2px;
  padding: 0px 16px;
  border-radius: 44px;
  color: white;
  font-size: 10px;
}
.host-name-logement {
  display: flex;
}

.host-name-logement p {
  padding: 38px 17px;
  color: #ff6060;
  font-size: 15px;
}
.host-name-logement img {
  border-radius: 50%;
}
.div-star-logement {
  padding: 18px 69px;
  position: relative;
  left: 27%;
}
.list-dropdown {
  display: flex;
  justify-content: space-around;
  padding: 0 89px;
}
.container-dropdown {
  padding: 50px 50px;
  width: 207%;
}

@media screen and (max-width: 780px) {
  .container-logements {
    margin: 0 70px;
    display: flow-root;
  }
  .p-title-logements {
    font-size: 28px;
  }
  .host-name-logement img {
    border-radius: 50%;
    object-fit: cover;
  }

  .div-tag-logement {
    margin: 19px 0;
  }

  .container-dropdown {
    padding: 50px 70px;
  }
  .list-dropdown {
    display: flex;
    flex-direction: column;
    padding: 0 27px;
  }
  .container-dropdown {
    padding: 20px 0;
  }

  .host-name-logement img {
    width: 32px;
    height: 32px;
    margin: 42px 0 0 0;
  }
  .container-dropdown {
    width: 103%;
  }

  .div-name-star-logement {
    display: flex;
    flex-direction: row-reverse;
    /* display: inline-block; */
    justify-content: space-evenly;
}
  
  .div-star-logement {
    display: flex;
    padding: 18px 69px;
    position: relative;
    left: -24%;
    top: 36px;
    
  }

}

@media screen and (max-width: 350px) {

  .div-star-logement {
    display: flex;
    padding: 18px 69px;
    position: relative;
    left: -24%;
    top: -29px;
}
.div-name-star-logement {
  display: block;
}

}

