.Silde {
  position: relative;
}

.Silde > h1 {
  position: relative;
  top: -153px;
  letter-spacing: 4px;
  color: #fff;
  text-shadow: 1px 1px 2px grey;
  text-align: center;
  padding: -71px 10px;
}

.ImgSilde {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  box-shadow: 10px 5px 5px grey;
  width: 85%;
}


@media screen and (max-width: 780px) {
  .ImgSilde {
    display: block;
    border-radius: 13px;
    box-shadow: 10px 5px 5px grey;
    width: 95%;
    height: 192px;
    object-fit: cover;
  }
  .Silde > h1 {
       /* position: absolute; */
    /* top: 30%; */
    /* left: 15%; */
    letter-spacing: 4px;
    color: #fff;
    text-shadow: 1px 1px 2px grey;
    font-size: 18px;
    text-align: center;
    padding: 30px 0 0 0;
  }
  .cards_bg {
    padding:none;
    background-color:none;
    margin:none;
    border-radius: none;
    height: none;
  }
}
@media screen and (max-width: 430px){
.Silde > h1 {
    position: absolute;
    top: 30%;
    left: 19%;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: 1px 1px 2px grey;
    font-size: 18px;
}
}
@media screen and (max-width: 310px){
.Silde > h1 {

    letter-spacing: 6px;                 
    font-size: 16px;
}
}